*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    overflow-y: hidden;
}

.main-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 150px;
    column-gap: 5px;
    justify-content: center;
}

.main-grid .box{
    background-color: red;
}



@media screen and (max-width: 400px){
    .main-grid{
        grid-template-columns: 300px;
        row-gap: 5px;
    }
}